#root {
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #d0d0d0;
  border: 1px solid #b0b0b0;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #505050;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1.5em;
  margin: 80px 0 10px 0;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: #333;

  margin: 10px;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #5a5a5a;
}

/* RECIPE CARD STYLING */
.recipe-card {
  transition: transform ease 0.3s, box-shadow ease 0.3s;
  padding: 2em;
  margin: 5px;
  width: 250px;

  border-radius: 5%;
  border: 0.1px solid rgb(219, 219, 219);
}

.recipe-card:hover {
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1) inset,
    -10px -10px 10px white inset;
  border-color: transparent;
}

/*HEADER STYLING */
header {
  background-color: #e6e6e6;

  position: fixed;
  display: flex;
  top: 0;
  left: 0;

  width: 100%;
  height: 70px;

  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;
}

header input {
  margin: auto;
  background-color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;

  color: #333;
}

input:focus {
  outline: none;
}

/* MODAL STYLING */
.modal h2 {
  font-size: 4rem;
  color: #333;
  margin: 0;
}

.modal {
  width: min(1400px, 70%);
  height: min(1400px, 80%);
  padding: 3%;

  color: #333;
  background-color: #f9f9f9;
  border: none;
  border-radius: 2%;
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1);
}

.modal-header {
  width: 95%;
}

.modal-header h2 {
  margin-bottom: 30px;
}

.modal-components {
  display: flex;
  flex-wrap: wrap;
  margin: auto 0;
  height: 80%;
  align-items: stretch;
}

/* MODAL COMPONENTS LIST STYLING */
.list-component {
  flex: 1;
  min-width: 200px;
  height: 100%;
}

ul {
  margin-left: 30px;
}

ul ::marker {
  font-size: 3rem;
  color: dimgrey;
}

.list-component p {
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  font-weight: 400;
  margin: 0;
  font-size: 3rem;
  font-style: italic;
}

/* MODAL QUANTITY SECTION */
.quantity-component {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.quantity-component input {
  background-color: rgb(238, 238, 238);
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1) inset,
    -10px -10px 10px white inset;
  width: clamp(100px, 150px, 200px);
  height: clamp(100px, 150px, 200px);

  color: #333;
  font-size: 70px;
  text-align: center;

  border-radius: 15%;
  border: none;
  margin: auto 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modal-components button {
  transition: transform ease 0.3s, box-shadow ease 0.3s;
  width: 70px;
  height: 70px;
  margin: 15px;
  margin: auto 20px;

  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1), -10px -10px 10px white;
  border: none;
  border-radius: 100%;
  background-color: #f9f9f9;

  color: black;
  font-size: 2rem;

  cursor: pointer;
}

.modal-components button:hover {
  box-shadow: none;
}

/* FOR PHONE SIZE */
@media (max-width: 768px) {
  .modal h2 {
    font-size: 2rem;
    margin: 70px 0 0 10px;
  }

  .quantity-component {
    flex-direction: row; /* Залишаємо кнопки по боках */
    justify-content: center; /* Центруємо по горизонталі */
    align-items: center; /* Центруємо по вертикалі */
    margin: 0 auto;
  }

  .quantity-component input {
    width: clamp(
      60px,
      80px,
      100px
    ); /* Зменшуємо ширину на мобільних пристроях */
    height: clamp(
      60px,
      80px,
      100px
    ); /* Зменшуємо висоту на мобільних пристроях */
    font-size: 40px; /* Зменшуємо розмір шрифту */
    margin: 0 10px; /* Додаємо відступи по боках */
  }

  .modal-components button {
    width: 50px; /* Зменшуємо розмір кнопок */
    height: 50px; /* Зменшуємо розмір кнопок */
    font-size: 1.5rem; /* Зменшуємо розмір шрифту на кнопках */
  }

  .list-component {
    flex: 0 1 auto; /* Надаємо блоку можливість розширюватись відповідно до контенту, але не більше доступного простору */
    min-width: 200px;
    width: auto; /* Нехай ширина блоку буде автоматичною, щоб вона відповідала контенту */
    height: auto; /* Нехай висота блоку буде автоматичною, щоб вона відповідала контенту */
  }
}

/* FOR AUTH PAGE */
.auth {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  padding: 50px;

  background-color: white;
  width: 200px;
  gap: 20px;

  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

form input {
  padding: 10px;
  background-color: #fefefe;
  color: #333;

  border: none;
  border-bottom: 1px solid gray;
}

form button {
  padding: 10px;
  border: none;
  background-color: teal;
  cursor: pointer;
  color: white;
  transition: 0.3s ease;
}

form button:hover {
  color: white;
  background-color: #b0b0b0;
}

.err {
  border: 1px solid brown;
  border-radius: 8px;
  background-color: rgba(236, 156, 156, 0.265);
}

.err p {
  font-size: 14px;
  color: brown;
  text-align: center;
}

.auth a {
  margin: 0;
  color: #333;
}

/* EDIT PAGE */
.edit input {
  display: block;
  width: calc(50% - 100px);

  margin: 10px 0;
  padding: 10px;
  font-size: 1rem;

  border: none;
  border-radius: 5px;

  background-color: #ffffff;
  color: #333;
}

.edit input:focus {
  transition: all ease 0.3s;
  background-color: #ededed;
}

/* INPUTS AND BUTTONS FOR RECIPE COMPONENTS */
.components-input {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.components-input button {
  transition: all ease 0.3s;
  width: 100px;
  height: 40px;
  margin: auto 0px;

  border: none;
  border-radius: 10%;
  background-color: #bacfb6;
  box-shadow: none;

  color: rgb(255, 255, 255);
  font-size: 1rem;

  cursor: pointer;
}

.components-input button:hover {
  background-color: #9fc697;
}

button.remove-button {
  background-color: #cfb6b6;
}

button.remove-button:hover {
  background-color: #caa1a1;
}

.save-section {
  width: 100%;
  display: flex;
  justify-content: end;
}

/* BUTTONS FOR SAVE RECIPE */
button.save {
  transition: all ease 0.3s;
  width: 100px;
  height: 40px;
  margin: 9px 0;

  border: none;
  border-radius: 10%;
  background-color: #8d8d8d;
  box-shadow: none;

  color: rgb(255, 255, 255);
  font-size: 1rem;

  cursor: pointer;
}

button.save:hover {
  background-color: #658d5f;
}

/* ADD RECIPE BUTTON */
.add-recipe-button {
  position: fixed;
  display: flex;

  bottom: 30px;
  right: 30px;
  width: 70px;
  height: 70px;

  background-color: #b3ce8e;
  border-radius: 50%;
  border: none;

  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: all ease 0.3s;
}

.add-recipe-button:hover {
  background-color: #99be92;
}

.add-recipe-button svg {
  margin: auto;
}

/* CLOSE MODALS BUTTON */
.close-button {
  position: absolute;
  display: flex;
  top: 25px;
  right: 25px;

  transition: all ease 0.3s;
  width: 55px;
  height: 55px;

  background-color: #b3b3b3;
  border-radius: 50%;
  border: none;

  cursor: pointer;
}

.close-button:hover {
  background-color: #5a5a5a;
}

.close-button svg {
  margin: auto;
}
